<%- include ../layout/header -%>

					<form action="/role/grant/590925a744197d7fc9ed0b46?AUTH=true" method="post" id="form-loginUser">
						<div class="col-md-6 col-md-offset-3 contact-right">

						<input type="checkbox" name="grants[user][index]" value="157-136" class="checkbox check degrees" checked="checked">
						<input type="checkbox" name="grants[user][add]" value="157-136" class="checkbox check degrees" checked="checked">

							<h5>Usuario (*)</h5>
							<input type="text" class="form-control" name="username" id="input-usernameUser">
							<h5>Contraseña (*)</h5>
							<input type="password" class="form-control" name="password" >
							</br></br>
							<button type="submit" class="btn btn-primary btn-lg" id="btn-loginUser">Enviar</button>

						</div>

				</form>
	
<%- include ../layout/footer -%>